{% extends 'events/layout.html' %}
{% load static %}
{% block body %}
<style>
.container {
  position:absolute;  
  left:30px;
  top:250px;
  width: 25%;
  padding : 40px 12px;
  display: flex;
}

.container1{
    position:absolute;
    left:500px;
    width:50%;
}

.image {
  opacity: 1;
  display: round;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius:25px;
  border: 2px solid #111110;
  flex-basis: 40%;
  margin-left:100px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.hey{
    font-size:20px;
    padding-left: 200px;
    padding-top:50px;
}
</style>

<center><h1 class="display-3">Candidate - {{candidate.name}}</h1></center>


<div class="container">
    {% if candidate.image %}
    <img src="{{candidate.image.url}}" alt="Avatar" class="image" style="width:100%">
    {% else %}
        <img src="{% static 'elections/images/default.png' %}" alt="Avatar" class="image" style="width:50%">
    {% endif %}
  <div class="middle">
    <div class="text">{{ candidate.name }}</div>
  </div>
  </div>
  <br>
  <div class="container1">
  <div class="hey">
        <p style="font-family:Verdana;font-size: xx-large;",><u>Name:{{candidate.name}}</u></p>
        <p style="font-family:Verdana;font-size: xx-large;"><u>Branch:{{candidate.branch}}</u></p>
        <p style="font-family:Verdana;font-size: xx-large;"><u>Enrollment Number:{{candidate.enrolno}}</u></p>
      
        <div class="card text-bg-light">
            <div class="card-body">
                
                <p style="font-family:Verdana;font-size: xx-large;"><u>Bio:</u></p>
                <p style="font-family:Verdana;font-size: xx-large;">{{candidate.bio}}</p>
            </div>
        </div>
        
  </div>



  
{% endblock %}


