

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IIT ROORKEE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        
        
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Candidate
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'candidates' %}">View Candidates</a></li>
            <li><a class="dropdown-item" href="{% url 'addcandidate' %}">New Candidate</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'events' %}">View Events</a></li>
            <li><a class="dropdown-item" href="{% url 'addevent' %}">New Events</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}" id="login">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'user' request.user.id %}" id="login">User</a>
        </li>
        {% if request.user.vote_1_bool and request.user.vote_2_bool and request.user.vote_3_bool %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'result' %}" id="login">Result</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'login' %}" id="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'register' %}" id="login">Register</a>
        </li>

        {% endif %}     

    </div>
  </div>
</nav>